/********************** CSS TEMPLATE: START **********************/
/*
Reference
  *  Description: CSS
  *  Title: meet_app_4.5/src/App.css
  *  Author: hamzaTCF
  *  GitHub: https://github.com/hamzaTCF
  *  Date: 19/01/2024
  *  Availability: https://github.com/curriculumCF/meet_app_4.5/blob/main/src/App.css
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

body {
  /* background-color: rgb(156, 155, 155); */
  background-color: #171618;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 35px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  /* background-color: #bcdcdb; */
  background-color: #b3ffb3;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  /* border: 1px solid #ccc; */
  /* background-color: #d9d9d9; */
  background-color: #333333;
  color: #d9d9d9;
  border-radius: 4px;
  position: relative;
}

.event h2 {
  color: #00cc00;
}

#details > p:last-child {
  margin-top: 20px;
  margin-bottom: 20px;
}

.details-btn {
  position: absolute;
  right: 0px;
  bottom: 0px;
  /* padding: 5px 8px; */
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  background-color: #00cc00;
  color: #333333;
  /* font-size: 20px; */
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px;
}

.details-btn:hover {
  background-color: #fff;
  color: #333333;
}
/********************** END: CSS TEMPLATE **********************/

/********************** CUSTOM CSS: START **********************/
/****** Title: Start ******/
#title {
  display: grid;
  place-items: center;
  /* background-color: rgb(156, 155, 155); */
  margin-bottom: 50px;
}

.title-content {
  position: relative;
  margin-top: 100px;
  padding: 30px 60px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font: 700 30px consolas;
  overflow: hidden;
  background-color: #171618;
}

/* Title animation: Start */
.title-content span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #171618, #3bff3b);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.title-content span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, #171618, #3bff3b);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.title-content span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, #171618, #3bff3b);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.title-content span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to top, #171618, #3bff3b);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/* End: Title animation */
/****** End: Title ******/

/****** Custom Scrollbar: Start ******/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #333333;
}

::-webkit-scrollbar-thumb {
  background: #00cc00;
  border: 3px solid #333333;
  border-radius: 5px;
}

/* Custom Scrollbar for Mozilla Firefox Webbrowser Start */
@supports (scrollbar-color: #00cc00 #333333) {
  * {
    scrollbar-color: #00cc00 #333333;
    scrollbar-width: thin;
  }
}
/* End: Custom Scrollbar for Mozilla Firefox Webbrowser */
/****** End: Custom Scrollbar ******/

/****** Alert Container: Start ******/
.alerts-container {
  position: fixed;
  width: 250px;
  z-index: 1000;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/****** End: Alert Container ******/
/********************** END: CUSTOM CSS **********************/
